{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="container merde">
		<h1>Register</h1>

		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}
		<div class="container">
			{{ form_start(registrationForm) }}
			<div class="form-error">
				{{ form_errors(registrationForm.nom)}}
			</div>
			<div class="form-group">
				{{ form_label(registrationForm.nom) }}
				{{ form_widget(registrationForm.nom) }}
			</div>
			<div class="form-error">
				{{ form_errors(registrationForm.prenom)}}
			</div>
			<div class="form-group">
				{{ form_label(registrationForm.prenom) }}
				{{ form_widget(registrationForm.prenom) }}
			</div>
			<div class="form-error">
				{{ form_errors(registrationForm.email)}}
			</div>
			<div class="form-group">
				{{ form_label(registrationForm.email) }}
				{{ form_widget(registrationForm.email) }}
			</div>
			<div class="form-error">
				{{ form_errors(registrationForm.plainPassword)}}
			</div>
			<div class="form-group">
				{{ form_label(registrationForm.plainPassword) }}
				{{ form_widget(registrationForm.plainPassword) }}
			</div>
            <div class="form-error">
				{{ form_errors(registrationForm.adresse)}}
			</div>
			<div class="form-group">
				{{ form_label(registrationForm.adresse) }}
				{{ form_widget(registrationForm.adresse) }}
			</div>
            <div class="form-error">
				{{ form_errors(registrationForm.codePostal)}}
			</div>
			<div class="form-group">
				{{ form_label(registrationForm.codePostal) }}
				{{ form_widget(registrationForm.codePostal) }}
			</div>
            <div class="form-error">
				{{ form_errors(registrationForm.ville)}}
			</div>
			<div class="form-group">
				{{ form_label(registrationForm.ville) }}
				{{ form_widget(registrationForm.ville) }}
			</div>
			<div class="form-error">
				{{ form_errors(registrationForm.RGPD)}}
			</div>
			<div class="form-group">
				{{ form_label(registrationForm.RGPD) }}
				{{ form_widget(registrationForm.RGPD) }}
			</div>
			{{ form_row(registrationForm.agreeTerms) }}

			<button type="submit" class="btn btn-secondary">Register</button>
			{{ form_end(registrationForm) }}
		</div>
	{% endblock %}
