{% extends 'base.html.twig' %}

{% block title %}Mobile index{% endblock %}

{% block body %}
    <h1>Mobile index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>CreatedAt</th>
                <th>Picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mobile in mobiles %}
            <tr>
                <td>{{ mobile.id }}</td>
                <td>{{ mobile.name }}</td>
                <td>{{ mobile.brand }}</td>
                <td>{{ mobile.price }}</td>
                <td>{{ mobile.quantity }}</td>
                <td>{{ mobile.createdAt ? mobile.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ mobile.picture }}</td>
                <td>
                    <a href="{{ path('app_mobile_show', {'id': mobile.id}) }}">show</a>
                    <a href="{{ path('app_mobile_edit', {'id': mobile.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_mobile_new') }}">Create new</a>
{% endblock %}
