{% extends 'base.html.twig' %}

{% block title %}Order
{% endblock %}

{% block body %}
	<div class="merde"></div>

	<div class="merde"></div>
	<div class="container">
		<h1>Orders</h1>
				{% for order in orders %}
					
                    <table class="table">
                        <thead>
                        <th class="text-center border">Order Nb:</th>
                        <th colspan="3" class="text-center border">{{order.reference}}</th>
                        <tr>
                        <th class="text-center border text-primary">Item</th>
                        <th class="text-center border text-primary">Quantity</th>
                        <th class="text-center border text-primary">Price</th>
                        <th class="text-center border text-primary">total per item</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set total = 0 %}
						{% for detail in order.ordersDetails %}
                        <tr>
                        <td class="text-center border">{{ detail.item.name }}</td>
                        <td class="text-center border">{{ detail.quantity }} pcs</td>
                        <td class="text-center border">{{ detail.item.price }} $</td>
                        <td class="text-center border">{{ detail.quantity * detail.item.price }} $</td>
                        </tr>
                        {% set total = total + (detail.quantity * detail.item.price) %}
						{% endfor %}
                        </tbody>
                        <tfoot>
            <tr><td colspan="4" class="text-center border text-primary">Total: {{ total }} $</td></tr>
            </tfoot>
                        </table>
                        {% else %}
		</div>

		<tr>
			<div class="container mt-4">No orders passed</div>
		</tr>
					
				{% endfor %}
	</div>

{% endblock %}
