{% extends 'base.html.twig' %}

{% block title %}Item
{% endblock %}

{% block body %}
	<div class="merde"></div>
	<div class="container">
		<h1>{{ item.name }}</h1>
		{% if item.quantity == 0 %}
			<div class="card card-background shadow p-3 bg-body-tertiary rounded" style="max-width: 40rem;  background-image: url('/images/SoldOut.png'); background-size: 100% 100%; background-repeat: no-repeat; background-position: center;">
			{% else %}
				<div class="card shadow p-3 bg-body-tertiary rounded" style="max-width: 40rem;">
				{% endif %}
				<div class="row g-0">
					<div class="col-md-4 d-flex justify-content-center">
						<img src="{{asset('/images/'~ item.picture) }}" class="img-fluid object-fit-cover" id="imgCard" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">{{ item.name }}</h5>

							<p class="card-text">
								<small class="text-info">Brand:
									{{ item.brand }}</small>
							</p>
							<p class="card-text">
								<small class="text-info">Category:
									{{ item.category.type }}</small>
							</p>
							<p class="card-text">
								<small class="text-danger">Price:
									{{ item.price }}
									$</small>
							</p>
							<p class="card-text">
								<small class="text-secondary">Quantity:
									{{ item.quantity }}</small>
							</p>
							<div>
								{% if item.quantity > 0 %}
									<form action="{{ path('cart_add', {'id': item.id}) }}" method="post">
										<input type="number" name="quantity" min="1" max="{{ item.quantity }}" value="1" class="rounded-0">
										<button type="submit" class="btn btn-black text-uppercase btn-rounded-none">Add to cart</button>
									</form>
								{% else %}
									<p class="text-danger ">Sold Out !</p>
								{% endif %}

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
