{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}
	
	<div class="container position-absolute top-50 start-50 translate-middle">
	<h1>User</h1>
		<div class="card mb-4" style="max-width: 30rem;">
					<div class="card-body">
						<h5 class="card-title">{{ user.prenom }}
							{{ user.nom }}</h5>

						<p class="card-text">
							<p class="text-primary">Email:</p>
								<p class="text-black">{{ user.email }}</p>
						</p>
						<p class="card-text">
							<p class="text-primary">Address:</p>
								<p class="text-black">{{ user.adresse }},
								{{ user.codePostal }},
								{{ user.ville }}</p>
						</p>
							<a href="{{ path('app_orders_show') }}" class="btn btn-primary mx-2">Orders</a>
							<a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-secondary mx-2">Edit</a>
							<a href="{{ path('app_logout') }}" class="btn btn-warning mx-2">Logout</a>
					</div>
		</div>
		<a href="{{path('home.index')}}" class="btn btn-primary">Back to home</a>
	</div>

{% endblock %}
